# --- MISSION CONFIGURATION ---
BOT_NAME=Hamza
BOT_LANGUAGE="MIX DARIJA AND FRENCH"

# --- SCRAPER CONFIGURATION ---
TARGET_URL="https://www.avito.ma/fr/maroc/voitures-%C3%A0_vendre?price_min=10000"

# --- DATABASE ---
DB_NAME=research_study.db
